@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
background-image: url('bleu.jpg');
background-attachment: fixed;
//font-family: 'Dayrom';

}
figure {
	margin:0px;
	padding:0px;
}
#conteneur{
	width:962px;
	margin:auto;
	
}

#entete{
	width:962px;
	height:65px;

}
#bas{
	width:962px;
	height:65px;
	border:dashed 1px black;
	box-shadow: 3px 3px 6px gray;
	margin-top:5px;
}

#navig{
	width:962px;
	height:45px;
	border:solid 1px black;
	/*border-radius:10px;*/
	box-shadow: 3px 3px 6px gray;
	background-image: url(fish.jpg);
	  font-family: 'BallparkWeiner';
	  text-align: center;
}
#navig li{
	display:inline-block;
	margin-right:50px;
}
#navig a {
	text-decoration:none;
	color:yellow;
	font-weight:bold;
}
#navig a:hover {
	text-decoration:underline;
	color: #564308;
	
}
#mask1{
	width:962px;
	height:40px;
	background-color: rgba(0, 55, 0, 0.6);
	position: relative;
	top:180px;
	font-size:18px;
	text-align:center;
	color:white;
	font-weight:bold;
	line-height:40px;
	vertical-align:middle;
}
#content{
	width:962px;
	min-height:350px;
	border:solid 1px black;
	/*border-radius:10px;*/
	box-shadow: 3px 3px 3px gray;
	margin-top:5px;
	overflow:auto;
	background-image: url('bleu.jpg');
	text-align: center;
}
#search {
	width:300px;
	float:right;
	margin:0px;
	padding:0px;
}
#search p {
	margin:0px;
	text-align:right;
}
/*------------- Animation d'images ------------*/
@-webkit-keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /* première image et dernière*/
	}
	35%, 50% {
		left: -962px; /*2ème image*/
	}
	70%, 85% {
		left: -1924px; /*3ème image*/
	}
}
@-moz-keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /* première image et dernière*/
	}
	35%, 50% {
		left: -962px; /*2ème image*/
	}
	70%, 85% {
		left: -1924px; /*3ème image*/
	}
}
@keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /* première image et dernière*/
	}
	35%, 50% {
		left: -962px; /*2ème image*/
	}
	70%, 85% {
		left: -1924px; /*3ème image*/
	}
}

#slideshow {
	position: relative;    /*le parent positionné*/
	width: 962px;          /*limite en largeur (1 élément du slideshow)*/
	height: 220px;         /*limite en hauteur*/
	margin:  20px auto;
	overflow: hidden;      /*on cache ce qui déborde*/
	border:solid 1px black;
	box-shadow: 3px 3px 2px gray;
}
#sContent li {
	display: inline;      /*on aligne les éléments du slideshow*/
}
#sContent {
	position: absolute;   /*on sort l'élément du flux*/
	top: 0;               /*on le positionne précisément dans ...*/
	left: 0;              /*l'angle haut gauche de son parent positionné*/
	width: 2886px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 webkit keyframes animation*/
	-webkit-animation-name: AutoSlide;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	/*CSS3 moz keyframes animation*/
	-moz-animation-name: AutoSlide;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	
	/*CSS3 W3C keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.log
{
	width: 80px;
	height: 80px;
	float: top left;

}
.bouton_rec
{
   color: white;
background-color: #564308;
border-radius: 20px;
margin-right: 0px
}


footer
{
    display: flex;
    background: url('images/separateur.png') repeat-x top;
    background-image: url('fish.jpg');
    padding-top: 10px;
	color:white;
}

footer p
{
    font-size: 0.8em;
}

footer a
{
    color:white;
}

footer h1
{
    font-size: 1.1em;
}
#reseau
{
    width: 40%;
	text-align:left;
}
#reseau a
{
text-decoration:none;
}


#realisation
{
	width: 35%;
	text-align:center;

}

#lang
{
	width: 35%;
	text-align:right;
    text-decoration:none;
}

.res
{
	border: 1px  black solid;
	border-radius:360px;
	height:30px;
	width:30px;
}
table {
	margin: auto;
}
